# NestJS API
API_PORT=3001
API_HOST=0.0.0.0
NODE_ENV=development

# Nuxt Frontend
NUXT_PUBLIC_API_URL=http://localhost:3001
NUXT_HOST=0.0.0.0
NUXT_PORT=3000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
